*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
}

h1 {
  font-size: 1.2em;
  font-weight: 500;
  display: inline;
  line-height: 30px;
}

h2 {
  font-size: 1em;
  display: inline;
}

h3 {
  font-size: .9em;
  font-weight: 200;
  color: #5c7080;
  margin-top: 25px;
  display: inline;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  padding-top; 20px;
}

nav {
  padding: 0px 20px 15px 20px;
}

ul {
  width: 100%;
}

.left-align {
  float: left;
  text-align: left;
}

.right-align {
  float: right;
}

/* indicators of status */
.on-time {
  color: #407941;
}

.late {
  color: #9F4040;
}

/* only applies to specific elements */
.arrival {
  text-align: center;
  font-size: .9em;
}

.bus-info {
  background-color: #ffffff;
  padding: 20px 15px 20px 10px;
  width: 100%;
  border-bottom: 1px solid #DCDFE4;
}

.bus-number {
  font-size: 1.75em;
  font-weight: 700;
  padding-left: 5px;
}

.destination {
  left: 80px;
  position: absolute;
  font-size: 1.2em;
  margin-top: -5px;
}

.direction {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #5c7080;
  font-size: 0.75em;
  padding: 5px 10px 5px 10px;
}

.distance-to {
  margin-top: 15px;
}

.frequency {
  font-size: .8em;
  position: absolute;
  left: 80px;
  padding-top: 20px;
  color: #5c7080;
}

.main-icon {
  width: 20px;
  margin-top: 20px;
}

.map {
  position: relative;
  overflow: hidden;
  padding-top: 60%;
  border-bottom: 1px solid #DCDFE4;
}

.status {
  height: 45px;
  padding: 15px 15px 10px 15px;
}

.tiny-icon {
  width: 15px;
  vertical-align: middle;
  margin-top: -1px;
  margin-right: 3px;
}

/* responsive */

@media screen and (min-width: 575px) {
  .arrival {
    margin-top: 6px;
  }

  .destination, .frequency {
    left: 100px;
  }

  .map {
    padding: 25%;
  }

  .mobile-only {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  nav {
    padding-top: 20px;
  }

  .map {
    padding: 15%;
  }

  .status {
    display: none;
  }
